MONGODB_URI=mongodb+srv://onlyatharvps_db_user:qnqiaRVHBpLLN44p@cluster0.lkklfes.mongodb.net/?appName=Cluster0
JWT_SECRET=your_super_secret_jwt_key_here
CLIENT_URL=https://jee-test-generator.vercel.app/
PORT=5000
